<!-- layout declaration -->
<% layout("/layouts/boilerplate1.ejs") %>


  <!-- Unnordered List Declaration -->
  <ul>
    <li>
      <a>
        <div class="row">
          <!-- From Field Declaration -->
          <div class="col-4">
            From: ayush@gmail.com
          </div>

          <!-- Subject Bar Declaration -->
          <div class="col">
            Demo
          </div>
          <!-- Delete Icon Field  -->
          <div class="col">
            <button class="btn btns"><i class="fa-solid fa-trash-can"></i></button>
            </form>
          </div>
          <!-- Eye Icon Field -->
          <div class="col">
            <i class="fa-regular fa-eye"></i></i>
          </div>
        </div>
      </a>
    </li>
    <hr />
  </ul>

  <!--  Styling Declaration -->
  <style>
    .text {
      padding: 0.4rem !important;
      scroll-behavior: auto;
    }

    ul a {
      color: black !important;
    }

    .btns {
      padding: 0 !important;
    }
  </style>