<!-- layout Declaration -->
<% layout("/layouts/boilerplate1.ejs") %>

  <!-- Container Declaration -->
  <div class="container">
    "I hope you're doing well. Please find attached the brief for EmailBuilder. It covers all key details and
    necessary next steps. Let me know if you have any questions or need further clarification.",
  </div>